/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
  }

  nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    text-align:center;
    list-style: none;
    background-color: #D64C4C;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    z-index: 1;
  }

  nav li {
      display:inline-block;
  }
  nav li a {
      display: block;
      padding: 5px 5px;
      font-size: 26px;
      text-decoration: none;
      color: #fff;
      transition: all 0.5s;
  }
  nav li a:hover {
      color: #000;
      transition: all 0.5s;
  }

  .main {
    width: 100%;
    margin-top: 1em;
    padding: 5em;
  }

  .card {
    display: inline-block;
    margin: 1em;
    margin-left: 0;
    width: 20%;
    height: 20em;
    background-color: #f6f6f6;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.5s;
    overflow: hidden;
  }

  .card:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.5s;
  }

  .card-main-image {
    height: 55%;
    width: 100%;
    background-color: black;
    overflow: hidden;
  }

  .card-main-image img {
    height: 100%;
    width: 100%;
  }

  .card-quick-view {
    height: 20%;
    width: 100%;
    padding-bottom: 2em;
    padding-left: 1em;
    border-bottom: 1px solid gray;
  }

  .detail {
    display: inline-block;

    margin: 1em 0.5em;
  }

  .detail span {
    font-size: 12px;
    color: gray;
    text-align: center;
  }

  .detail strong {
    display: block;
    text-align: center;
    margin-top: 0.5em;
  }

  .card-action {
    padding: 0.7em;
    height: 15%;
    width: 100%;
  }

  .card-action span {
    font-size: 10px;
    color: gray;
  }

  .card-action a {
    color: black;
    text-decoration: none;
    font-size: 12px;
    float: right;
    margin-top: 0.2em;
    margin-right: 1.5em;
    transition: all 0.5s;
  }

  .card-action a:hover {
    color: #D64C4C;
    transition: all 0.5s;
  }

/* Show Page CSS */

  .show-image-container {
    display: inline-block;
    margin: 0.5em;
    width: 20%;
    height: 15em;
    overflow: hidden;
    background-color: #f6f6f6;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.5s;
  }

  .show-image-container:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.5s;
  }

  .show-image-container img {
    height: 100%;
    width: 100%;
  }

  .show-detail-container {
    display: inline-block;
    margin: 0.5em;
    padding: 0.5em;
    width: 83%;
    overflow: hidden;
    background-color: #f6f6f6;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  .show-detail-container h1 {
    margin-bottom: -0.5em;
  }

  .left {
    display: inline-block;
    width: 40%;
  }

  .left img {
    height: 300px;
  }

  .right {
    display: inline-block;
    width: 50%;
    float: right;
  }

  .top {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid gray;
    margin-bottom: 1em;
  }

  .top-left {
    display: inline-block;
    float: left;
  }

  .top-right {
    display: inline-block;
    text-align: right;
    float: right;
    margin-top: 1.5em;
  }

  .price {
    margin-top: 0;
    font-size: 32px;
    color: green;
  }
  .green {
    color: green;
  }

  .jumbo {
    width: 100%;
    height: 35em;
  }

  .jumbo-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .jumbo-image img {
    width: 100%;
    height: 100%;
  }

  .jumbo-details {
    position: relative;
    top: -10em;
    left: 3em;
  }

  .jumbo-details h1, .jumbo-details h2 {
    margin: 0.2em;
    color: white;
  }

  .jumbo-details h2 {
    margin-bottom: 1em;
  }

  .button {
    text-decoration: none;
    position: relative;
    background: #D64C4C;
    border: 1px solid #D64C4C;
    font-size: 1.1rem;
    color: #fff;
    margin: 1rem 0;
    padding: 0.7rem 2rem;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.5s;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
  }

  .button:hover {
    color: #000;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.5s;
  }